@import "components/index";
// @import "bootstrap";

html {
  font-size: 100%; // pour utiliser les rem
}

body {
  // background-color: #fbc547;
  margin: 0;
  color: #333;

  font-size: 1rem;
  font-family: "Avenir", serif;
  font-weight: 400;
  line-height: 1.5;

  text-decoration: none;
  text-align: center;
}

h1 {
  font-size: 2rem;
  font-weight: normal;
}

h3 {
  font-size: 1rem; // remettre sinon le user agent stylesheet le modifie
  text-decoration: underline;
  text-align: center;
}

a {
  font-size: 1rem;
  color: rgba(#000, 0.7);

  &:focus,
  &:hover {
    color: rgba(#000, 0.6);
  }
}

button {
  font-size: 1rem;
  color: rgba(#000, 0.7);

  &:focus,
  &:hover {
    color: rgba(#000, 0.6);
  }
}

.cont {
  // padding: 2rem 8rem;
  padding: 2rem 10vw;
}

#page_under_construction {
  margin-top:20%;
}
