@import "components/index";

body {
  // background-color: #fbc547;
  margin: 0;
  color: #333;
  font-family: "Avenir", serif;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  text-decoration: none;
  text-align: center;

}

h3 {
  font-family: "Avenir", serif;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  font-weight: bold;
  text-decoration: underline;
  text-align: center;
}

a {
  color: rgba(#000, 0.7);

  &:focus,
  &:hover {
    color: rgba(#000, 0.6);
  }
}
