@import "components/index";
@import "fonts.css.scss";
// @import "bootstrap-sprockets";
// @import "bootstrap";
// @import 'bootstrap';

// default: Extra small devices (Portrait phone / less than 576px)
// sm: Small devices (Landscape phone / 576px and up)
// md: Medium devices (Tablet / 768px and up)
// lg: Large devices (Desktops / 992px and up)
// xl: Extra large devices (Large desktops / 1200px and up)

// // Portrait phone
// @media (max-width: 576px) {
//   font-size: 50%;
//   }

// // Landscape phone
// @media (min-width: 576px) and (max-width: 768px) {
//   font-size: 50%;
//   }

// // Tablet
// @media (min-width: 768px) and (max-width: 992px) {
//   font-size: 50%;
//   }

// // Desktop
// @media (min-width: 992px) and (max-width: 1200px) {
//   font-size: 50%;
//   }

// // large Desktop
// @media (min-width: 1200px)
//   font-size: 50%;
//   }

html {
  // // iphone 5
  // @media (max-width: 767px) {
  //  font-size: 80%;
  // }

  // // ipad
  // @media (min-width: 768px) and (max-width: 991px) {
  //  font-size: 90%;
  // }

  // iphone et ipad
  @media (max-width: 991px) {
    font-size: 80%;
  }

  // macbook
  @media (min-width: 992px) {
    font-size: 90%;
  }
}

// body.modal-open {
//   position: absolute !important;
// }

body {
  // background-color: #fbc547;
  margin: 0;
  color: #333;

  font-size: 1rem;
  font-family: "Avenir", serif;
  font-weight: 400;
  line-height: 1.5;

  text-decoration: none;
  text-align: center;
}

h1 {
  // font-family: cochin !important;
  font-family: 'GFS Didot', serif !important;
  font-size: 1.75rem;
  // font-weight: bold;
  @media (max-width: 991px) {
    font-size: 1.5rem;
  }
}

h3 {
  font-size: 1rem; // remettre sinon le user agent stylesheet le modifie
  text-decoration: underline;
  text-align: center;
}

a {
  font-size: 1rem;
  color: rgba(#000, 0.7);
  cursor: pointer;
  &:focus,
  &:hover {
    // color: rgba(#000, 0.6);
    text-decoration: none;
  }
}

p {
  margin: 0;
}

button {
  font-size: 1rem;
  color: rgba(#000, 0.7);

  &:focus,
  &:hover {
    color: rgba(#000, 0.6);
  }
}

#page_under_construction {
  margin-top:20vh;
  margin-bottom: 25.5vh;
}

br {
  font-size: 0rem;
}
