<div class = "footer">

  <div id="logo_adresse_col">
    <img id="logo_footer" src="/images/cookoon-logo-white.png" alt="cookoon">
      <div class="adresse_footer">
        <ul>La marque est la propriété</ul>
        <ul>de Réceptions Nouvelles.</ul>
        <ul>12 rue de Lincoln</ul>
        <ul>75008 Paris</ul>
      </div>
  </div>

  <div id="cols_footer">
    <div class="col_footer">
      <h3>A propos</h3>
      <ul><a href="#">Qui sommes-nous</a></ul>
      <ul><a href="#">Devenir hôte</a></ul>
      <ul></ul>
    </div>

    <div class="col_footer">
      <h3>La société</h3>
      <ul><a href="#">Investir dans Cookoon</a></ul>
      <ul><a href="#">Collaborer avec Cookoon</a></ul>
      <ul><a href="#">Presse</a>
    </div>

    <div class="col_footer">
      <h3>Aide</h3>
      <ul><a href="#">Nous contacter</a></ul>
      <ul><a href="#">Foire aux questions</a></ul>
      <ul><a href="#">C.G.U</a></ul>
    </div>
  </div>

</div>
