<div class = "footer">

  <div id="logo_adresse_col">
    <!-- <img id="logo_footer" src="/images/cookoon-logo-white.png" alt="cookoon"> -->
    <!-- <%= image_tag 'cookoon-logo-white.png', alt: 'Logo Cookoon', id: 'logo_footer' %> -->
    <img id="logo_footer" src="http://cookoon.fr/images/cookoon-logo-white.png" alt="cookoon">
<!--       <div class="adresse_footer">
        <p>Cookoon est une marque <br>de Réceptions Nouvelles.<br>12 rue de Lincoln<br>75008 Paris</p>
      </div> -->
  </div>

  <div id="cols_footer">
    <div class="col_footer">
      <h3>A propos</h3>
      <!-- <ul><a href="#">Qui sommes-nous</a></ul> -->
      <!-- <ul><a href="/devenir_hote.html">Devenir hôte</a></ul> -->
      <ul><a href="https://cookoon.typeform.com/to/iY7Heh">Devenir hôte</a></ul>
      <ul></ul>
    </div>

    <div class="col_footer">
      <h3>La société</h3>
      <!-- <ul><a href="#">Investir dans Cookoon</a></ul> -->
      <ul><a href="https://cookoon.typeform.com/to/NpySLO">Cuisiner avec Cookoon</a></ul>
      <!-- <ul><a href="#">Presse</a> -->
    </div>

    <div class="col_footer">
      <h3>Aide</h3>
      <ul><a href="mailto:concierge@cookoon.fr?subject=Demande de contact">Nous contacter</a></ul>
      <!-- <ul><a href="#">Foire aux questions</a></ul> -->
      <!-- <ul><a href="#">C.G.U</a></ul> -->
    </div>
  </div>

</div>
