<div class = "footer">

  <div id="logo_adresse_col">
    <!-- <img id="logo_footer" src="/images/cookoon-logo-white.png" alt="cookoon"> -->
    <!-- <%= image_tag 'cookoon-logo-white.png', alt: 'Logo Cookoon', id: 'logo_footer' %> -->
    <img id="logo_footer" src="https://cookoon.fr/images/cookoon-logo-white.png" alt="cookoon">
<!--       <div class="adresse_footer">
        <p>Cookoon est une marque <br>de Réceptions Nouvelles.<br>12 rue de Lincoln<br>75008 Paris</p>
      </div> -->
  </div>

  <div id="cols_footer">
    <div class="col_footer">
      <h3>La société</h3>
      <ul><a href="/la_societe">Qui sommes-nous ?</a></ul>
      <ul><a href="/la_societe/#ambition">Notre ambition</a></ul>
      <ul><a href="/investir_dans_Cookoon">Investir dans Cookoon</a></ul>
      <ul><a href="mailto:concierge@cookoon.fr?subject=Demande de contact">Nous contacter</a></ul>
      <ul><a href="/politique_de_confidentialite">Politique de confidentialité</a></ul>
    </div>

    <div class="col_footer">
      <h3>Partenaires</h3>
      <ul><a href="/devenir_hote">Devenir hôte</a></ul>
      <ul><a href="https://cookoon.typeform.com/to/NpySLO" target="_blank">Devenir chef Cookoon</a></ul>
      <!-- <ul><a href="">Entreprises</a></ul> -->
    </div>

    <div class="col_footer">
      <h3>Presse</h3>
      <!-- <ul><a href="" target="_blank">Dossier de presse</a></ul> -->
      <!-- <ul><a href="" target="_blank">Communiqué de presse</a></ul> -->
      <ul><a href="mailto:concierge@cookoon.fr?subject=Demande presse">Contact Presse</a>
    </div>

    <!-- <div class="col_footer"> -->
      <!-- <h3>Newsletter</h3> -->

      <!-- Button trigger modal -->
      <!-- <ul><a data-toggle="modal" data-target="#newsletterInscription">S'inscrire à la newsletter</a></ul> -->

      <!-- Modal -->
      <!-- <div class="modal fade" id="newsletterInscription" tabindex="-1" role="dialog" aria-labelledby="newsletterInscriptionLabel" aria-hidden="true"> -->
        <!-- <div class="modal-dialog" role="document"> -->
          <!-- <div class="modal-content"> -->
            <!-- <div class="modal-body"> -->
              <!-- <button type="button" class="close" data-dismiss="modal" aria-label="Close" style="color:black;"> -->
                <!-- <span aria-hidden="true">&times;</span> -->
              <!-- </button> -->

              <!-- partial 'partials/abo_newsletter.html' -->

            <!-- </div> -->
          <!-- </div> -->
        <!-- </div> -->
      <!-- </div> -->

    <!-- </div> -->
  </div>
</div>
