  <div class = "navbar_black">
      <h2 class="small_screen_hide">Réservation: +33 1 00 00 00 00</h2>
      <i class="fas fa-bars big_screen_hide"></i>
      <a class="btn_navbar_black" href="mailto:alice.fabre@hotmail.fr?subject=Rappelez-moi">RAPPELEZ-MOI</a>
  </div>

  <div class="cont small_screen_hide">
    <div class="navbar_white">
        <a id=lien-accueil-logo_cookoon href="/index.html">
          <img id="logo_cookoon_navbar" src="http://cookoon.fr/cookoon-static.github.io/images/cookoon-logo-black-small.png" alt="cookoon">
        </a>
        <a href="/occasions.html">Occasions particulières</a>
        <a href="/receptions.html">Réceptions professionnelles</a>
        <a href="/livre.html">Livre d'or</a>
    </div>
  </div>
