  <div class = "navbar_black">
    <a href="mailto:alice.fabre@hotmail.fr?subject=Rappelez-moi">Etre rappelé par un concierge</a>
  </div>

  <div class="cont" id="cont_navbar_white">
    <div class="navbar_white">
        <a id=lien-accueil-logo_cookoon href="/index.html">
          <img id="logo_cookoon_navbar" src="http://cookoon.fr/cookoon-static.github.io/images/cookoon-logo-black-small.png" alt="cookoon">
        </a>
        <a href="/occasions.html">Occasions particulières</a>
        <a href="/receptions.html">Réceptions professionnelles</a>
        <a href="/livre.html">Livre d'or</a>
    </div>
  </div>
