.banner {
  background-size: cover;
  background-position: center;
  // padding: 8rem 0;
  height: 50vh;
  width: auto;
    @media (max-width: 991px) {
    height: 60vh;
  }
    @media (max-width: 991px) and (orientation: landscape) {
    height: 80vh;
  }
}


