.cont_bar_gold {
  padding-right: 0 !important;
  padding-left: 0 !important;
}

.bar_gold, .bar_gold_five_logos {
  background-color: #CDBB8A;
  color: white;
  align-items: center;
    @media (max-width: 991px) {
    margin: 0;
  }
}

.bar_gold {
  padding: 2rem 5.8rem;
    @media (max-width: 991px) {
    padding: 2rem 1rem;
  }
}

.bar_gold_five_logos {
  padding: 2rem 0.5rem;
    @media (max-width: 991px) {
    padding: 2rem 0.5rem;
  }
}

#logo_cookoon_bar_gold {
  height: 3rem;
  width: auto;
  margin-bottom: 2rem;
}

.bar_gold > p {
  margin-bottom: 0;
}

#signature_bar_gold {
  text-align: right;
  font-style: italic;
}

#barre_logos_bar_gold {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  margin: -0.5rem 0 0 0;
  // height: 4rem;
  width: auto;
}

.logos_bar_gold, .logos_bar_gold_five_logos {
  margin: 1rem 2rem 0 2rem;
  @media (max-width: 991px) {
    margin: 1rem 0.5rem 0 0.5rem;
  }
}

.logos_bar_gold {
  height: 4rem;
  @media (max-width: 991px) {
    height: 2rem;
  }
}

.logos_bar_gold_five_logos {
  height: 3rem;
  @media (max-width: 991px) {
    height: 1.5rem;
  }
}

.logos_bar_gold_small {
  height: 8rem;
  @media (max-width: 991px) {
    height: 4rem;
  }
}

.bar_gold h1 {
  margin-bottom: 2rem;
  // font-style: italic;
}

.signature {
  font-style: italic;
  text-align: right;
  margin-top: 1rem;
}
