.bar_gold {
  background-color: #CDBB8A;
  opacity: 60%;
  color: white;
  align-items: center;
  margin: 2rem 0;
  padding: 2rem 5.8rem;
}

#logo-cookoon-bar-gold {
  height: 2rem;
}

.bar_gold > p {
  margin-bottom: 0;
}

#signature_bar_gold {
  text-align: right;
  font-style: italic;
}

#barre_logos_bar_gold {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 4rem;
  width: auto;
}

.logos_bar_gold {
  height: inherit;
  margin: 0 2rem;
}
