.btn_gold_in_card {
  margin-top: 3rem;
  background-color: #CDBB8A;
  color: white !important;
  padding: 1rem 2rem;
  cursor: pointer;
  width:fit-content;
  align-self: left;
  text-transform: uppercase;
}

.btn_navbar_black {
  width: fit-content;
  color: white;
  border: 1px solid white;
  padding: 0.5rem 1rem;
  text-transform: uppercase;
  // border-radius: 50px;
  // font-weight: lighter;
  // opacity: 0.6;
  // transition: opacity 0.3s ease;
}
