.btn_gold_in_card {
  margin-top: 3rem;
  // width: auto;
  background-color: #CDBB8A;
  color: white !important;
  // font-weight: bold;
  text-decoration: none;
  // text-align: center;
  // border: 1px solid #4A4A4A;
  padding: 1rem 2rem;
  // border-radius: 50px;
  // width: 50%;
  // display:inline;
  // opacity: 0.6;
  // transition: opacity 0.3s ease;
  cursor: pointer;
  width:fit-content;
  align-self: left;
  text-transform: uppercase;

}

.btn_navbar_black {
  color: white;
  border: 1px solid white;
  padding: 0.5rem 1rem;
  text-transform: uppercase;
  // border-radius: 50px;
  // font-weight: lighter;
  // opacity: 0.6;
  // transition: opacity 0.3s ease;
}
