.card_four_images {
  // width: 50%;
  // height: 100%;
  // display: flex;
  // flex-wrap: wrap;
  // justify-content: space-between;
  // align-content: space-between;
  // border-style: solid;
  display: grid;
  grid-template-columns: repeat(2, 19.5vw);
  // grid-gap: 1vmin;
  grid-template-rows: repeat(2, 19.5vw);
    @media (max-width: 991px) {
    grid-template-columns: repeat(3, 29.5vw);
    grid-template-rows: repeat(1, 29.5vw);
  }
}

.card_four_images_img {
  height: 19vw;
  width: 19vw;
  object-fit: cover;
  justify-self: start;
  align-self: start;
    @media (max-width: 991px) {
    height: 28.5vw;
    width: 28.5vw;
    }
}

.one {
  grid-column: 1;
  grid-row: 1;
}

.two {
  grid-column: 2;
  grid-row: 1;
  justify-self: end; // horizontal
}

.three {
  grid-column: 1;
  grid-row: 2;
  align-self: end; // vertical
    @media (max-width: 991px) {
    grid-column: 3;
    grid-row: 1;
  }
}

.four {
  grid-column: 2;
  grid-row: 2;
  justify-self: end; // horizontal
  align-self: end; // vertical
    @media (max-width: 991px) {
    display: none;
  }
}

.one, .two, .three {
    @media (max-width: 991px) {
    align-self: center;
    justify-self: center;
  }
}


