.card_four_images {
  display: grid;
  grid-template-columns: repeat(2, 19.5vw);
  grid-template-rows: repeat(2, 19.5vw);
    @media (max-width: 991px) {
      grid-template-columns: repeat(3, 29.5vw);
      grid-template-rows: repeat(1, 29.5vw);
      padding-bottom: 1.5rem;
  }
}

.bloc_img_txt {
  position: relative;
}

.img_chef {
  position: absolute;
}

.chef_name {
  position: absolute;
  width:19vw;
  height: 19vw;
  padding: 2vw;
  background-color: rgba(205, 187, 138, 0.75);
  color: white;
  display: none;
}

.bloc_img_txt:hover .chef_name {
  @media (min-width: 992px) {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.card_four_images_img {
  height: 19vw;
  width: 19vw;
  object-fit: cover;
  justify-self: start;
  align-self: start;
  border-radius: 0.25rem;
  @media (max-width: 991px) {
    height: 28.5vw;
    width: 28.5vw;
  }
}

.one {
  grid-column: 1;
  grid-row: 1;
}

.two {
  grid-column: 2;
  grid-row: 1;
  justify-self: end; // horizontal
}

.three {
  grid-column: 1;
  grid-row: 2;
  align-self: end; // vertical
    @media (max-width: 991px) {
    grid-column: 3;
    grid-row: 1;
  }
}

.four {
  grid-column: 2;
  grid-row: 2;
  justify-self: end; // horizontal
  align-self: end; // vertical
    @media (max-width: 991px) {
    display: none;
  }
}

.one, .two, .three {
    @media (max-width: 991px) {
    align-self: center;
    justify-self: center;
  }
}


