.cont_carousel {
  height: 65vh;
  width: 80vw;
  // width: auto;
  // max-width: 24rem;
  display: flex;
  align-items: center;
  justify-content: center;
  // margin: 0.5rem;
  border: solid white 0.5rem;
}

.carousel_img {
  height: 64vh;
  width: 78.75vw;
  object-fit: cover;
}

.control-margin {
  margin: 5rem 0;
}

.modal_dialog_margin {
  margin-top: 15vh;
}
