.card_description {
  height: auto;
  height-max: 48rem;
  width: 32.5vw;
  text-align: left;
  display: flex;
  flex-direction: column;
  justify-content: center;
  @media (max-width: 991px) {
    width: 88vw;
    padding: 1rem 0;
  }
}

.padding-right {
  @media (min-width: 992px) {
    padding-right: 5rem;
  }
}

.padding-left {
  @media (min-width: 992px) {
    padding-left: 5rem;
  }
}

.bande_horizontale {
  height: 1px;
  width: 50%;
  background-color: black;
}

.card_text {
  margin: 1.5rem 0 0 0;
}

.card_title {
  margin: 0 0 1.5rem 0;
}

.card_banner {
  background-color: white;
  // opacity: 80% ;
  width: 20vw;
  position: relative;
  top: 5vmin;
  left:5vmin;
  padding: 2.5rem;
  // width: 32.5vw;
  margin: 0 !important;
  @media (max-width: 991px) {
    width: 65vw;
    // padding: 1rem 0 0 0;
  }
}
