.card_description {
  height: auto;
  height-max: 48rem;
  width: 32.5vw;
  // max-width: 50%;
  // border: 2px;
  // border-style: solid;
  padding: 0 7.5%;
  text-align: left;
  display: flex;
  flex-direction: column;
  justify-content: center;
  @media (max-width: 991px) {
    width: 88vw;
    padding: 1rem 0;
    text-align: justify;
  }

}

.bande_horizontale {
  height: 1px;
  width: 50%;
  background-color: #CDBB8A;
}

.card_text {
  margin: 1rem 0 0 0;
}

.card_title {
  margin: 0 0 1rem 0;
}

.card_banner {
  background-color: white;
  // opacity: 80% ;
  position: relative;
  top: 5vmin;
  left:5vmin;
  padding: 2%;
  // width: 32.5vw;
  margin: 0 !important;
  @media (max-width: 991px) {
    width: 65vw;
    // padding: 1rem 0 0 0;
  }
}

// .image-card {
//   width: 100%;
//   height: 240px;
//   background-position: center;
//   background-repeat: no-repeat;
//   position: relative;
// }
