// .cont_carousel {
//   height: 65vh;
//   width: 80vw;
//   // width: auto;
//   // max-width: 24rem;
//   display: flex;
//   align-items: center;
//   justify-content: center;
//   // margin: 0.5rem;
//   border: solid white 0.5rem;
// }

// .carousel_img {
//   height: 64vh;
//   width: 78.75vw;
//   object-fit: cover;
// }

// .control-margin {
//   margin: 5rem 0;
// }

// .modal_dialog_margin {
//   margin-top: 15vh;
// }

.close {
  width: 4rem;
  height: 4rem;
  position: absolute;
  z-index:1;
  right:0;
  font-size: 1.5rem;
  color: white;
    &:focus,
    &:hover {
      opacity: 0.9;
      color: white;
      outline: 0
    }
}

.carousel-indicators {
  bottom: -4rem;
}

.d-block {
  width:80vw;
  height:65vh;
  object-fit: cover;
}

.carousel-control-prev, .carousel-control-next {
  width: 4rem;
  height: 4rem;
  top: 65vh;
}

.carrousel-chevron-left, .carrousel-chevron-right {
  color: white;
  font-size: 1.5rem;
}

.modal-body {
  border: solid white 0.2rem;
  padding: 0;
}

.img-chef {
  width:70vh;
  height:65vh;
  @media (orientation: portrait) {
    width: 70vw;
   }
}

.chef-figcaption {
  position: relative;
  bottom: 62.75vh;
  text-align: left;
  margin-left: 2rem;
  height:0;
  color: white;
}
