.cont {
  // padding: 2rem 8rem;
  padding: 2rem 10vw;
    @media (max-width: 991px) {
    padding: 2rem 5vw;
  }
}

.cont_padding_up_bigger {
  @media (min-width: 992px) {
    padding-top: 4rem;
  }
}

.cont_padding_down_bigger {
  @media (min-width: 992px) {
    padding-bottom: 4rem;
  }
}
