.footer {
  background-color: black;
  margin: 0;
  padding: 1rem 1rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  color: white;
  align-items: center;
  // margin-top: 2rem;
  // align-content: space-between;
}

#logo_footer {
  height: 2rem;
  align-self: center;
}

.footer a {
  color: white;
  text-decoration: none;
}

// .footer a:hover {
//     color: #cfdef3;
// }

.footer ul {
  padding: 0;
  margin: 0rem;
  text-align: left;
}

.footer h3 {
  margin-top: 0;
  text-align: left;
}

#cols_footer {
  display: flex;
  justify-content: space-between;
  margin: 2rem 0;
}

.col_footer {
margin: 0rem 2rem;
}

#logo_adresse_col {
  display: flex;
  justify-content: space-around;
}


