#email_user {
  background-color: black;
  color:white;
  border:none;
  padding: 0.5rem;
  outline:none;
}

#newsletter_form {
  border: 1px solid #CDBB8A;
  display: flex;
  justify-content: end;
  width: fit-content;
  margin: 1rem 0 1rem 0;

}
