@import "navbar_black";
@import "navbar_white";
@import "footer";
@import "card";
@import "banner";
@import "button";

// @import "font-awesome-compass";
// @import "font-awesome";

.cont {
  padding: 0 6rem;
}

.fa-arrow-right {
  color: black;
  width: 8rem;
}
