.navbar_white {
  display: flex;
  color: black;
  font-weight: bold;
  align-items: center;
  // justify-content: space-between;

  height: 3rem;
}

.navbar_white a {
  white-space: nowrap;
  // margin: 0 0.75rem;
  // margin: 0 4vw;
  text-decoration: none;
    &:hover,
    &:focus {
    color: #CDBB8A;
  }
}

#lien_accueil_logo_cookoon {
  margin-left: 0;
}

#logo_cookoon_navbar {
  height: 3rem;
  @media (max-width: 991px) {
    // margin-right: 2rem;
    height: 1.5rem;
  }
}

.menuTab.active {
    color: #CDBB8A;
}




