.navbar_black {
  background-color: black;
  color: white;
  margin: 0;
  padding: 1rem 5.8rem;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  @media (max-width: 991px) {
    justify-content: space-between;
  }

  & a {
    color: white;
  }

  & a:hover {
    // color: #cfdef3;
    color: white;
    text-decoration: none;
    cursor: pointer;
    // font-weight: bold;
  }

  @media (max-width: 991px) {
    padding: 1rem;
  }
}
