.navbar_white {
  display: flex;
  color: black;
  font-weight: bold;
  align-items: center;
  justify-content: space-between;
  // margin: 1rem 0 2rem 0;
  // padding: 1rem 2.5rem;
  height: 3rem;
}

.navbar_white > a {
  white-space: nowrap;
  margin: 0 0.75rem;
  text-decoration: none;
    &:hover {
    color: #CDBB8A;
  }
}

#lien_accueil_logo_cookoon {
  margin-left: 0;
}

#logo_cookoon_navbar {
  height: 3rem;
  margin-right: 2rem;
}





