.cont_superposed_texts {
  position: relative;
  z-index: 1;
  height: 8rem;
}

.sur-texte, .sous_texte {
  position: absolute;
  width: 100%;
  height: 8rem;
  left: 0;
  top: 0;
}

.sur-texte{
  z-index: 3;
}

.sous_texte {
  z-index: 2;
  opacity: 0.9;
}

.sur_texte > h1, .sous_texte > h2  {
  font-family: 'cochinitalic' !important;
  margin: 0;
}

.sur_texte > h1 {
  color: black;
  font-size: 3rem;
}

.sous_texte > h2 {
  color: #CDBB8A;
  font-size: 6rem;
  font-style: italic;
  opacity: 0.6;
}




