---
title: Bienvenue chez Cookoon
---

<div class="cont">

  <div class="banner image-card" style="background-image: linear-gradient(rgba(0,0,0,0.1),rgba(0,0,0,0.1)), url(/images/cookoon-spot-2.png);">

    <div class="card card_banner">
      <h1 class="card_title">Gastronomie privée</h1>
      <div class="bande_horizontale"></div>
      <p class="card_text"> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet iusto aperiam dolorem error consectetur architecto voluptatum nesciunt</p>
    </div>

  </div>
</div>

<div class="bar_gold">
  <img id="logo-cookoon-bar-gold" src="/images/cookoon-logo-white.png" alt="logo Cookoon">
  <h1>Le concept Cookoon</h1>
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Optio repellat esse accusantium, dicta alias cum doloremque temporibus laborum eaque. Blanditiis quos mollitia nisi aut perspiciatis. Voluptatem recusandae ratione non esse.</p>
</div>

<div class="cont">
  <div class="card" style="border:solid">
    <h1 class="card_title">Gastronomie privée</h1>
    <div class="bande_horizontale"></div>
    <p class="card_text"> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet iusto aperiam dolorem error consectetur architecto voluptatum nesciunt, ipsa sapiente animi at debitis ea aliquid, necessitatibus corporis dignissimos. Consectetur, quo in enim blanditiis fugit aliquam soluta! Minima minus eligendi est beatae libero sint, repellat quisquam accusantium illo, non atque aperiam nostrum!</p>
    <a class="btn-gold btn-gold-in-card" href="mailto:alice.fabre@hotmail.fr?subject=Demande de devis">DEMANDER UN DEVIS <span><i class="fas fa-long-arrow-alt-right"></i></span>
    </a>
  </div>
</div>

<div class="bar_gold">
  <img id="logo-cookoon-bar-gold" src="/images/cookoon-logo-white.png" alt="logo Cookoon">
  <h1>Ils parlent de nous</h1>
  <div id="barre_logos_bar_gold">
    <img class="logos_bar_gold" src="/images/axa-logo.png" alt="logo Axa">
    <img class="logos_bar_gold"src="/images/axa-logo.png" alt="logo Axa">
    <img class="logos_bar_gold"src="/images/cookoon-logo-favicon.jpg" alt="logo Cookoon">
  </div>
</div>


