---
title: Page en construction
---

<div id="page_under_construction">
  <!-- <img src="/images/cookoon-logo-black-small.png" alt="logo Coockoon"> -->
  <%= image_tag 'cookoon-logo-black-small.png', alt: 'Logo Cookoon' %>
  <h1 style="padding-top:4rem">Cette page est en cours de conception</h1>
</div>
