---
title: Cookoon - Devenir hôte
---

<!-- barre texte sur texte -->
  <div class="cont_superposed_texts">
    <span class="sur_texte"><h1>Devenir hôte</h1></span>
    <span class="sous_texte"><h2>Devenir hôte</h2></span>
  </div>



<!-- CARD DOUBLE-->
<div class="cont">
  <!-- carte double image à gauche-->
  <div class="card_double_img_on_left">
    <!-- carte 4 images -->
    <div class="card_one_image">
      <%= image_tag '191118_COOKOON_DevenirHote_2.jpg', alt:'jardin', class: 'card_one_image_img' %>
    </div>
    <!-- carte description -->
    <div class="card_description padding-right">
      <h1 class="card_title">Comment ça marche?</h1>
      <div class="bande_horizontale"></div>
      <p class="card_text">Rentabiliser son bien, le faire vivre autrement, ne pas le laisser inhabité durant de longues périodes, participer à une nouvelle façon de vivre en partageant... les raisons qui ont conduit nos hôtes à faire ce choix sont multiples.</p>
      <a class="btn_gold_in_card" href="https://cookoon.typeform.com/to/iY7Heh" target="_blank">Devenir hôte <span><i class="fas fa-long-arrow-alt-right"></i></span></a>
    </div>
  </div>
</div>



<!-- CARD DOUBLE -->
<div class="cont cont_padding_down_bigger"=>
  <!-- carte double image à droite-->
  <div class="card_double_img_on_right">
    <!-- carte description -->
    <div class="card_description padding-left">
      <h1 class="card_title">Garantie par <%= image_tag 'axa-logo.png', alt:'logo Axa', class: 'logo_titre'%></h1>
      <div class="bande_horizontale"></div>
      <p class="card_text">Ce qui les a concrétement décidé en revanche est bien plus simple. Avec Cookoon, seuls les espaces de réception (salon, salle à manger, cuisines) sont mis à contribution. Les chambres, salles de bain peuvent être fermées. Nos clients entreprises ou nos membres sont soigneusement sélectionnés. Aucune réservation n'a lieu sans au minimum un maître d'hôtel Cookoon. Et enfin toutes les mises à dispositions sont assurées par notre partenaire AXA.</p>
    </div>
    <!-- carte 4 images -->
    <div class="card_one_image">
      <%= image_tag '191118_COOKOON_DevenirHote.jpg', alt:'jardin', class: 'card_one_image_img' %>
    </div>
  </div>
</div>
