---
title: Cookoon - Devenir membre
---
<!-- CARD DOUBLE -->
<div class="cont">
  <!-- carte double image à gauche-->
  <div class="card_double_img_on_left">
    <!-- carte 1 image -->
    <div class="card_one_image">
      <%= image_tag 'membres.jpg', alt:'devenir_membre_cookoon', class: 'card_one_image_img' %>
    </div>
    <!-- carte description -->
    <div class="card_description padding-right">
      <h1 class="card_title">Devenez membre</h1>
      <div class="bande_horizontale"></div>
      <p class="card_text">Cookoon permet à ses membres de vivre des expériences gastronomiques exceptionnelles, à Paris pour l'instant.</p>
      <div class="card_text">
        <ul class="pl-3 my-0">
          <li>Réservez des repas avec des chefs étoilés ou renommés dans des lieux privés en accédant au site de réservation <a class="link" href="https://membre.cookoon.club" target="_blank" id="ID1">membre.cookoon.club</a>;</li>
          <li>Faites profiter vos amis et relations des services Cookoon en co-optant 5 nouveaux membres;</li>
          <li>Bénéficiez de 10% de remise membre sur tous les services de restauration et de sommellerie;</li>
          <li>Accédez au service de conciergerie Cookoon pour vos demandes exceptionnelles.</li>
        </ul>
      </div>
      <p class=card_text>Cotisation: 450 € TTC par an</p>
      <p class=card_text>Vous pouvez soumettre votre candidature* en cliquant sur le bouton ci-dessous.</p>
      <!-- bouton lien -->
      <a class="btn_gold_in_card my-5" href="https://membre.cookoon.club/users/new" id="" target="_blank">Je veux adhérer <span><i class="fas fa-long-arrow-alt-right"></i></span></a>
      </a>
      <p class="card-text font-italic small">* Si le quota maximum de membres est momentanément atteint, votre adhésion pourra être mise sur liste d'attente.</p>
    </div>
  </div>
</div>
