---
title: Cookoon - Devenir membre
---
<!-- CARD DOUBLE -->
<div class="cont">
  <!-- carte double image à gauche-->
  <div class="card_double_img_on_left">
    <!-- carte 1 image -->
    <div class="card_one_image">
      <%= image_tag 'membres.jpg', alt:'devenir_membre_cookoon', class: 'card_one_image_img' %>
    </div>
    <!-- carte description -->
    <div class="card_description padding-right">
      <h1 class="card_title">Le club et l'offre</h1>
      <div class="bande_horizontale"></div>
      <p class="card_text">Cookoon permet à ses membres de vivre des expériences gastronomiques exceptionnelles.</p>
      <p class=card_text>Pour devenir membre, deux options s'offrent à vous:</p>
      <ul class="pl-3 mb-0">
        <li>être invité(e) par un membre;</li>
        <li>soumettre votre candidature pour devenir membre cotisant.</li>
      </ul>
      <p class="card_text mt-0">Si vous proposez votre candidature et que celle-ci est acceptée*, un règlement de 450 €TTC vous sera demandé au titre des frais annuels de membres.</p>
      <p class="card_text">En tant que membre cotisant, vous pourrez:</p>
      <ul class="pl-3 my-0">
        <li>accéder au site <a class="link" href="https://membre.cookoon.club" target="_blank" id="ID1">membre.cookoon.club</a> et composer les repas ou cocktails de votre choix en sélectionnant lieux et chefs;</li>
        <li>inviter 5 nouveaux membres par an à rejoindre Cookoon;</li>
        <li>bénéficier de 10% de remise membre sur toutes vos réservations;</li>
        <li>accéder au service de conciergerie Cookoon pour vos demandes exceptionnelles.</li>
      </ul>
      <!-- bouton lien -->
      <a class="btn_gold_in_card my-5" href="https://membre.cookoon.club/users/new" id="" target="_blank">Je veux adhérer <span><i class="fas fa-long-arrow-alt-right"></i></span></a>
      </a>
      <p class="card-text font-italic small">* Si le quota maximum de membres est momentanément atteint, votre adhésion pourra être mise sur liste d'attente.</p>
    </div>
  </div>
</div>
