---
title: Cookoon - investir
---

<!-- barre texte sur texte -->
<div class="cont_superposed_texts">
  <span class="sur_texte"><h1>Rejoignez-nous</h1></span>
  <span class="sous_texte"><h2>Rejoignez-nous</h2></span>
</div>

<!-- CARD DOUBLE image à gauche -->
<div class="cont" id="ambition">
  <!-- carte double image à gauche-->
  <div class="card_double_img_on_left">
    <!-- carte 4 images -->
    <div class="card_one_image">
      <!-- <img src="https://image.freepik.com/photos-gratuite/gens-affaires-se-serrant-main_53876-20488.jpg" alt="Investir dans Cookoon" class="card_one_image_img"> -->
      <%= image_tag 'cookoon-investir.jpg', alt:'Investir dans Cookoon', class: 'card_one_image_img img_position' %>
    </div>
    <!-- carte description -->
    <div class="card_description padding-right">
      <h1 class="card_title">Investir</h1>
      <div class="bande_horizontale"></div>
      <p class="card_text">Cookoon propose à ses membres, clients et amis de prendre part à l’aventure en investissant dans la société des membres Cookoon, la holding actionnaire de Réceptions Nouvelles - Cookoon.</p>
      <p class="card_text">Cette possibilité offerte d’investir des montants accessibles permet à Cookoon de s’entourer d’un réseau d’ambassadeurs qui portent la marque et cet usage rénové de la réception.</p>
      <a class="btn_gold_in_card" href="mailto:gregory@cookoon.fr?subject=Investir dans Cookoon : demande d'informations &body=Bonjour,%0D%0A %0D%0A voici les coordoonnées pour me joindre.">Investir dans Cookoon <span><i class="fas fa-long-arrow-alt-right"></i></span></a>
    </div>
  </div>
</div>
