---
title: Cookoon - maintenance
---

<div id="maintenance" style="height: 100vh; display: flex; flex-direction: column; align-items: center; justify-content: center;">
  <%= image_tag 'cookoon-logo-black-small.png', alt: 'Logo Cookoon', style: "width: 25vw; height: fit-content;" %>
  <p style="padding-top:2.5rem; padding-bottom: 7rem; font-weight: normal; margin-left: 1.8rem; font-size: 1.3rem;">Le site est en maintenance</p>
</div>
