---
title: Cookoon - Politique de confidentialité
---

<div class="cont_superposed_texts">
  <span class="sur_texte"><h1>Politique de confidentialité</h1></span>
  <span class="sous_texte big_screen_hide"><h2>Confidentialité</h2></span>
  <span class="sous_texte small_screen_hide"><h2>Politique de confidentialité</h2></span>
</div>

<div class="cont cont_politique">
  <h1>Introduction</h1>
  <div class="bande_horizontale"></div>
  <p>« Cookoon » désigne la société Réceptions Nouvelles SAS.</p>
  <p>Cette Politique de confidentialité décrit nos règles concernant la gestion, le traitement et le stockage des données personnelles soumises dans le cadre de nos services. Le terme « données personnelles » désigne les informations relatives à une personne physique identifiée ou qui peut être identifiée.</p>

  <h1>Informations recueillies sur notre site Internet</h1>
  <div class="bande_horizontale"></div>
  <p>Les informations personnelles désignent toute information pouvant être utilisée pour identifier un utilisateur. Si nous associons d’autres données à vos informations personnelles, ces données seront également traitées comme informations personnelles.<br>
  Cookoon recueille les catégories d’informations personnelles suivantes :</p>
  <ul>
    <li>Données de contact :</li>
      <ul>
        <li>prénom et nom de famille</li>
        <li>adresse électronique</li>
      </ul>
    <li>Données de suivi :</li>
      <ul>
        <li>adresses IP</li>
        <li>des informations sur le système client telles que nom du navigateur, langue et version du système d’exploitation</li>
        <li>des données d’interaction telles que les adresses des ressources consultées (URLs), les pages de référence, le nombre de clics, le temps passé sur les pages, la date et l’heure de consultation des pages</li>
        <li>cookies</li>
      </ul>
  </ul>
  <p>Pour nos newsletters, nous traitons vos données personnelles sur la base du consentement explicite que vous avez donné à cet effet.</p>

  <h1>Objet du traitement des informations personnelles</h1>
  <div class="bande_horizontale"></div>
  <p>Nous recueillons des informations personnelles aux fins suivantes :</p>
  <ul>
    <li>Fonctionnement et maintenance de notre site web</li>
    <li>Personnalisation de votre expérience</li>
    <li>Accès à des livres blancs</li>
    <li>Envoi des newsletters</li>
    <li>Réponse à une demande</li>
    <li>Autres fins légitimes en conformité avec la loi en vigueur.</li>
  </ul>

  <h1>Conservation de vos données</h1>
  <div class="bande_horizontale"></div>
  <p></p>Cookoon ne stocke vos données que le temps nécessaire pour répondre à l’objet de leur collecte.

  <h1>Destinataires de vos données</h1>
  <div class="bande_horizontale"></div>
  Les données personnelles vous concernant collectées sur le site sont destinées pour la propre utilisation par Cookoon et peuvent être transmises aux sociétés sous-traitantes auxquelles Cookoon peut faire appel dans le cadre de l’exécution de ses services. Cookoon s’assure de la conformité avec les exigences de protection des données auprès de toutes ses sociétés sous-traitantes.
  Les informations personnelles d’un utilisateur ne seront pas partagées en dehors de Cookoon, excepté dans les conditions explicitées ci-après, et toujours en conformité avec la loi en vigueur :
  pour envoyer à un utilisateur la newsletter qu’il peut souhaiter recevoir de notre part ou de la part de notre fournisseur de service Mailchimp (lorsque vous nous autorisez à vous envoyer ce type de communication) ;

  <h1>Sécurité</h1>
  <div class="bande_horizontale"></div>
  <p>La sécurité des données traitées est au cœur des préoccupations de Cookoon. Nous utilisons des protocoles sécurisés pour la communication et le transfert de données (tel que HTTPS). Nous surveillons nos systèmes pour détecter d’éventuelles vulnérabilités et attaques.
  <p>Des mesures de protection fortes de la confidentialité, de l’intégrité et de la disponibilité des données ont été mise en place. Cookoon a également mis en place des politiques et procédures afin de prévenir les accès non autorisés aux données. Ces dernières incluent des règles de développement sécurisé ainsi que des règles de privacy by design.

  <h1>Vos droits à la protection des données</h1>
  <div class="bande_horizontale"></div>
  <p>Conformément à la loi Informatique et Libertés et le Règlement Européen Général sur la Protection des Données 2016/679 (RGPD), vous disposez des droits d’accès, de rectification et de suppression des données personnelles vous concernant que vous pouvez exercer en envoyant un e-mail à <a href="mailto:concierge@cookoon.fr?subject=Demande de modification de mes données">concierge@cookoon.fr</a>.</p>
  <p>Vous pouvez également à tout moment modifier vous-même les données personnelles vous concernant via le lien vers votre espace personnel communiqué lors de votre inscription. Vous pouvez vous désinscrire de toute communication via le lien « se désabonner » inclus dans chacune de nos communications ; ou bien encore en nous contactant à l’adresse <a href="mailto:concierge@cookoon.fr?subject=Demande de modification de mes données">concierge@cookoon.fr</a>.
  À partir du moment où un utilisateur s’y est opposé, ses données personnelles ne seront plus utilisées à des fins de marketing direct.</p>

  <h1>Enfants et confidentialité</h1>
  <div class="bande_horizontale"></div>
  <p>Nous n’avons pas l’intention de recueillir ou sciemment recueillir des informations auprès des enfants. Nous ne ciblons pas les enfants avec nos services.</p>

  <h1>Sites tiers</h1>
  <div class="bande_horizontale"></div>
  <p>Le site de Cookoon peut fournir des liens vers des sites web tiers, sur lesquels nous n’exerçons aucun contrôle et qui ne sont pas couverts par la présente Politique. Nous vous recommandons de prendre connaissance des politiques de confidentialité publiées sur ces sites tiers.</p>

  <h1>Transferts vers un pays tiers</h1>
  <div class="bande_horizontale"></div>
  <p>Les données du service sont hébergées en France.</p>
  <p>Les données sont transférées dans des pays hors Union Européenne dans les cas suivants :</p>
  <ul>
    <li>Inscription à la newsletter</li>
  </ul>
  <p>Nous utilisons MailChimp comme plate-forme de marketing automatique. En cliquant pour soumettre un formulaire, vous acceptez que les informations que vous fournissez soient transférées à MailChimp pour traitement conformément à leur <a href="https://mailchimp.com/legal/privacy/" target="blank">politique de confidentialité</a> et <a href="https://mailchimp.com/legal/terms/" target="blank">conditions</a>.</p>

  <h1>Cookies</h1>
  <div class="bande_horizontale"></div>
  <p>Lorsque vous visitez www.cookoon.fr des cookies sont enregistrés sur votre appareil (ordinateur, téléphone portable ou tablette). Un « cookie » est un fichier texte placé sur votre appareil par les sites web auxquels vous accédez. Certains des cookies que Cookoon utilise sont essentiels au fonctionnement de libriciel.fr. D’autres sont liés aux performances et aux fonctionnalités du site, ainsi qu’à vos préférences.</p>
  <p>Cookoon utilise Google Analytics pour analyser la manière dont cookoon.fr est utilisé (données de suivi), par exemple pour compiler des rapports sur l’activité du site et disposer d’autres services liés à cette activité et à l’utilisation d’Internet.</p>
  <p>Consultez la page de Google consacrée à sa politique de confidentialité pour savoir comment Google utilise les données - <a href="https://policies.google.com/privacy?hl=fr" target="blank">en savoir plus sur le service Google Analytics</a> et vous informer sur la désactivation de ces cookies. En règle générale, vous pouvez également désactiver les cookies en modifiant les paramètres de votre navigateur. Si vous configurez votre navigateur de sorte qu’il n’accepte pas les cookies de cookoon.fr vous pourrez toujours consulter le site.</p>

  <h1>Modification de notre Politique de confidentialité</h1>
  <div class="bande_horizontale"></div>
  <p>Cookoon est susceptible de modifier la présente Politique de temps à autres ; si ces modifications affectent la façon dont nous utilisons vos informations personnelles, nous vous en informerons en vous envoyant un e-mail. Nous pouvons vous aviser de ces modifications à l’avance.</p>

  <h1>Contact</h1>
  <div class="bande_horizontale"></div>
  <p>Vous pouvez directement nous contacter par email à l’adresse <a href="mailto:concierge@cookoon.fr?subject=Demande de modification de mes données">concierge@cookoon.fr</a> ou par courrier à Réceptions Nouvelles SAS, 30 rue des Dames, 75017 Paris.</p>

  <p style="margin-top: 3rem">Date de prise d’effet : 25 mai 2018</p>

</div>

