---
title: Cookoon - Qui sommes nous ?
---

<!-- barre texte sur texte -->
  <div class="cont_superposed_texts">
    <span class="sur_texte"><h1>A propos</h1></span>
    <span class="sous_texte"><h2>A propos</h2></span>
  </div>

<!-- CARD DOUBLE -->
<div class="cont"=>
  <!-- carte double image à droite-->
  <div class="card_double_img_on_right">
    <!-- carte description -->
    <div class="card_description padding-left">
      <h1 class="card_title">Qui sommes nous ?</h1>
      <div class="bande_horizontale"></div>
      <p class="card_text">Cookoon est un projet qui a été lancé en 2016 par Grégory Escure et Quentin Pernez, avec le soutien d'un petit groupe d'investisseurs. L'idée de cette première version de Cookoon était de créer une réponse simple et fluide à tous les besoins d'espaces d'une courte durée, au moyen d'une application.</p>
      <p class="card_text">Depuis 2019, le projet est dirigé par Grégory Escure qui a transformé le service en un produit expérienciel de luxe, proposant des offres de repas ou cocktails dans des lieux exceptionnels. Pour en savoir plus sur cette transformation, découvrez le retour d'expérience sur le projet.</p>
      <p class="card_text">Cookoon est aujourd'hui présent à Paris et a pour ambition de se développer dans d'autres capitales. Cookoon travaille avec plus de 70 hôtes et une quinzaine de chefs, étoilés ou formés dans les maisons les plus prestigieuses.</p>
      <p class="card_text">Le projet est soutenu par plusieurs entreprises, notamment AXA, American Express ou encore Moët-Hennessy à travers le MH Lab 78.</p>
      <a class="btn_gold_in_card" href="https://www.frenchweb.fr/comment-jai-pivote-pour-ne-plus-etre-une-startup/383668" target="_blank">Retour d'expérience <span><i class="fas fa-long-arrow-alt-right"></i></span></a>
    </div>
    <!-- carte 1 image -->
    <div class="card_one_image">
      <%= image_tag 'gregory_escure.jpg', alt:'#', class: 'card_one_image_img big_screen_hide' %>
      <%= image_tag 'gregory_escure.jpg', alt:'#', class: 'card_one_image_img small_screen_hide' %>
    </div>
  </div>
</div>
