---
title: Réceptions professionnelles Cookoon
---
<p>Réceptions professionnelles</p>

<div class="bar_gold">
  <img id="logo_cookoon_bar_gold" src="/images/cookoon-logo-white.png" alt="logo Cookoon">
  <h1>Ils utilisent déjà Cookoon</h1>
  <div id="barre_logos_bar_gold">
    <img class="logos_bar_gold" src="/images/axa-logo.png" alt="logo Axa">
    <img class="logos_bar_gold"src="/images/axa-logo.png" alt="logo Axa">
    <img class="logos_bar_gold"src="/images/cookoon-logo-favicon.jpg" alt="logo Cookoon">
  </div>
</div>
